.hero-order-btn {
  /* display: inline-flex; */
  padding: 14px 28px;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: 1px solid #9bb537;
  border-radius: 15px;

  min-width: 127px;
  height: 45px;

  /* transition: background-color var(--cubic-bezier), color var(--cubic-bezier); */
}

@media only screen and (min-width: 375px) {
  .hero-order-btn {
    padding: 12px 28px;
    min-width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-order-btn {
    padding: 14px 40px;
    min-width: 144px;
    height: 45px;
  }
}

.hero-order-btn:is(:hover, :focus) {
  color: var(--accent-orange-color);
  background-color: var(--button-mobile-menu-close-bg-color);
}
